/*form*/
input[type="text"], input[type="password"],
textarea,
select {
  border: 1px solid #ddd;
  padding: 0.5em;
  margin: 0.25em 0;
  width: 100%;
}

select {
  width: auto;
}

input[type="text"]:focus, input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #2694e8;
}



