/*layout*/
//定义一个20列的布局，每一个列递增5%宽度
@for $i from 1 through 20 {
  .col-xk-#{$i} {
    float: left;
    width: $i*5%;
  }
}

//定义padding，是5的倍数[0-30]
@for $i from 0 through 6 {
  @for $j from 0 through 6 {
    .padding-#{$i*5}-#{$j*5}{
      padding: #{$i*5}px #{$j*5}px;
    }
  }
}

//定义margin，是5的倍数[0-30]
@for $i from 0 through 6 {
  @for $j from 0 through 6 {
    .margin-#{$i*5}-#{$j*5}{
      margin: #{$i*5}px #{$j*5}px;
    }
  }
}
