@import "_const";
@import "_reset";
@import "_common";
@import "_module";
@import "_icon";
@import "_font";
@import "_color";
@import "_form";
//@import "_layout";
@import "_seldom";
//@import "_glyphicon";

/*通用*/
body {
  padding-top: 2.5rem;
}

.wrap {
  max-width: 1280px;
}

header {
  height: 2.5rem;
  position: absolute;
  .logo-bar {
    height: $logo_bar_height/2;
    line-height: $logo_bar_height/2;
    font-size: 0.5rem;
    background: $admin_logo_bar_bg_color;
  }
  .nav-bar {
    height: $nav_bar_height/2;
    line-height: $nav_bar_height/2;
    font-size: 0.5rem;
  }
  .show-all-nav{
    height: auto;
  }
}

.article {
  h1.title {
    font-size: 1.3rem;
    line-height: 1.4em;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  .note-container {
    font-size: 17px;
    line-height: 1.8em;
    margin: 0.5rem 0;
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
  }
}

.login-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  max-width: 100%;
  height: 250px;
  margin: auto;
}

.login-box h1 {
  color: #666666;
}

body.bg {
  background: #0646a4 url("/images/bg2.jpg") no-repeat;
  background-size: cover;
  padding:0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#ajaxTips {
  color: #fff;
  position: fixed;
  border-radius: 1rem;
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;
  padding: 30px;
  margin-left: -50px;
  margin-top: -20px;
  background: rgba(255, 125, 0, 1);
  text-align: center;
  display: none;
  animation: animations 2s linear infinite;
}

@keyframes animations {
  0% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

table.data img.thumb{
  background: #f00;
  width:100%;
  min-height:50px;
  max-height: 500px;
}