@import "_const";
@import "_reset";
@import "_common";
//@import "_module";
//@import "_icon";
//@import "_font";


//@import "_color";
//@import "_form";
//@import "_layout";
//@import "_seldom";
//@import "_glyphicon";


/*通用*/
fieldset {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
  clear: both;
  legend {
    font-size: 18px;
    padding-left: 8px;
    padding-right: 10px;
    font-weight: bold;
    //color: #fc0;
    margin-bottom: 10px;
  }
}