@import "_const";
@import "_reset";
@import "_common";
@import "_module";
@import "_icon";
@import "_font";


//@import "_color";
//@import "_form";
//@import "_layout";
//@import "_seldom";
//@import "_glyphicon";

/*通用*/
.article {
  overflow: hidden;
  h1.title {
    font-size: 1.3rem;
    line-height: 1.4em;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  .note-container {
    font-size: 19px;
    line-height: 1.8em;
    margin: 0.5rem 0;
    > p,> div{
      margin-bottom: 0.8em;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
    video{
      width: 100%;
    }
  }
  .linkText{
    display: none;
    word-break: break-all;
    word-wrap: break-word;
  }
}
