<header>
    <div class="logo-bar">
        <div class="left-region"><a href="javascript:history.go(-1);"><span class="icon icon-left-nav"></span> 返回</a>
        </div>
        <div class="middle-region"><a href="/">万函网</a></div>
        <div class="right-region"><span class="icon icon-bars"></span></div>
    </div>

    <div class="nav-bar">
        <nav>
            <a href="/admin/" class="item">文章管理</a>
            <a href="/admin/category/" class="item">栏目管理</a>
            <a href="/generateList/" class="item" target="_blank">静态列表页</a>
            <a href="/generate/?begin=1" class="item" target="_blank">静态详细页</a>
            <a href="/admin/search/" class="item">搜索</a>
        </nav>
        <div class="nav-btn">
            <span class="icon icon-down-nav"></span>
            <span class="icon icon-up-nav"></span>
        </div>
    </div>
</header>