<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/mobile_admin.js"></script>
    <script src="/js/zepto.min.js"></script>
    <script src="/js/common_admin.js"></script>

</head>
<body>
<div class="wrap">

    {{> admin_header}}

    {{{body}}}

    {{> admin_footer}}

</div>

</body>
</html>