<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/css/it.css">
    <script src="/js/mobile.js"></script>
</head>
<body>

{{{body}}}


<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/it.js"></script>

</body>
</html>