<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="{{{keywords}}}">
    <meta name="description" content="{{{description}}}">
    <meta name="360-site-verification" content="870474736bb56668e0b6b7a868ae3b13" />
    <title>{{{title}}}-万函网</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--[if IE]>
    <link rel="stylesheet" href="/css/style_ie.css">
    <![endif]-->
    <script src="/js/mobile.js"></script>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/require.js"></script>
    <script src="/js/config.js"></script>
</head>
<body>
<div class="wrap">

    {{> header}}

    {{{body}}}

    {{> footer}}

</div>

<script src="/js/common.js" async="async"></script>
<script src="/js/baiduStatistic.js"></script>
</body>
</html>