<div class="pad">
    <form method="post" role="form" action="/admin/category/addDB">
        <h4>添加栏目：</h4>
        <div class="mt">
            <input type="text" class="form-control input-lg" name="cname"
                   placeholder="输入新增类目名">
        </div>
        <div class="mt">
            <input type="text" class="form-control input-lg" name="orderid"
                   placeholder="输入类目序号 默认100 值小靠前" value="100">
        </div>
        <div class="mt">
            <button type="submit" class="btn btn-success btn-full-width">提交</button>
        </div>
    </form>
</div>