<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/mobile.js"></script>
    <script src="/js/zepto.min.js"></script>
    <script src="/js/common_admin.js"></script>

</head>
<body class="bg">
<div class="login-box">
    <div class="">登录后台管理系统</div>
    <form name="login-form" action="/admin/login-validate" method="post">
        <div class="mt">
            <input name="name" type="text" placeholder="用户名称"
                   value="xukung">
        </div>
        <div class="mt">
            <input name="pwd" type="password" placeholder="密码" autofocus="autofocus">
        </div>
        <div class="mt">
            <button type="submit" name="button" class="btn btn-info btn-full-width">登 录</button>
        </div>
    </form>
</div>

</body>
</html>