<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/dist/css/materialize.min.css'/>

    <link rel='stylesheet' href='/dist/css/style.css'/>
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/jquery.twbsPagination.min.js"></script>
    <script src="/dist/kindeditor/kindeditor-all-min.js"></script>
    <script src="/dist/js/materialize.js"></script>

</head>
<body>
<div id="APP"></div>
<script src="/dist/js/bundle_vendor.js?v=1.0.1"></script>
<script src="/dist/js/bundle_main.js?v=1.0.1"></script>

<script>
    "use strict";

    $(document).ready(function () {
        $('.sidenav').sidenav();


    });
</script>
</body>
</html>