<fieldset>
    <legend>PHPStorm参数设置</legend>
    <div class="pad"></div>
    <div class="">注册(10.x)选择“License server”输入“//idea.lanyus.com/”</div>
    <div class="">注册(2016.x) <a href="http://idea.lanyus.com/" target="_blank">IntelliJ IDEA 注册码</a></div>
    <div class="hr"></div>
    <div class="">
        <div>SCSS参数设置(win)：$FileName$ $FileParentDir$\css\$FileNameWithoutExtension$.css --no-cache --style compact</div>
        <div>SCSS参数设置(mac)：$FileName$:$FileParentDir$/css/$FileNameWithoutExtension$.css --no-cache --style compact</div>
    </div>
    <div class="">--style [nested，expanded，compact，compressed]</div>
    <div class="">
        <div>phpstorm-program(win): C:\Ruby22\bin\scss.bat</div>
        <div>phpstorm-program(mac): /usr/local/bin/scss</div>
    </div>
    <div class="hr"></div>
    <div class="">LESS参数设置(win)： $FileName$ $FileParentDir$\css\$FileNameWithoutExtension$.css --source-map -x</div>
    <div class="">LESS参数设置(mac)： $FileName$ $FileParentDir$/css/$FileNameWithoutExtension$.css  --source-map -x</div>
    <div class="">phpstorm-program(win): C:\Users\Administrator\AppData\Roaming\npm\lessc.cmd</div>
    <div class="">phpstorm-program(mac): /Users/xk/.nvm/versions/node/v5.8.0/bin/lessc</div>
</fieldset>

<fieldset>
    <legend>col和html5</legend>
    <div class="">
        <a href="/col.html" target="_blank">col</a>
        <a href="/html5.html" target="_blank">html5</a>
    </div>
</fieldset>

<fieldset>
    <legend>百度地图生成器</legend>
    <div class="">
        <a href="//api.map.baidu.com/lbsapi/creatmap/index.html" target="_blank">百度地图生成器</a>
    </div>
</fieldset>

<fieldset>
    <legend>Ratchicons字体</legend>
    <div class=""><a href="/images/Ratchicons.jpg" target="_blank">打开图片</a></div>
</fieldset>

<fieldset>
    <legend>google的hosts地址</legend>
    <div class=""><a href="//github.com/racaljk/hosts" target="_blank">github说明</a></div>
    <div class=""><a href="//raw.githubusercontent.com/racaljk/hosts/master/hosts" target="_blank">源码</a></div>
</fieldset>

