<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>code</title>
    <link rel='stylesheet' href='/dist/css/it.css' />
    <script src="/dist/js/jquery.min.js"></script>
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>

<body>

    <fieldset>
        <legend>cnpm</legend>
        <div class="">
            npm install -g cnpm --registry=https://registry.npm.taobao.org
        </div>
    </fieldset>

    <fieldset>
        <legend>腾讯云</legend>
        <div class="">
            ssh root@132.232.19.101
        </div>
    </fieldset>

    <fieldset>
        <legend>PHPStorm参数设置</legend>
        <div class="pad"></div>
        <div class="">注册(10.x)选择“License server”输入“//idea.lanyus.com/”</div>
        <div class="">注册(2016.x) <a href="http://idea.lanyus.com/" target="_blank">IntelliJ IDEA 注册码</a></div>
        <div class="hr"></div>
        <div class="">
            <div>SCSS参数设置(win)：$FileName$ $FileParentDir$\css\$FileNameWithoutExtension$.css --no-cache --style compact
            </div>
            <div>SCSS参数设置(mac)：$FileName$:$FileParentDir$/../dist/css/$FileNameWithoutExtension$.css --no-cache --style
                compact
            </div>
        </div>
        <div class="">--style [nested，expanded，compact，compressed]</div>
        <div class="">
            <div>phpstorm-program(win): C:\Ruby22\bin\scss.bat</div>
            <div>phpstorm-program(mac): /usr/local/bin/scss</div>
        </div>
        <div class="hr"></div>
        <div class="">LESS参数设置(win)： $FileName$ $FileParentDir$\css\$FileNameWithoutExtension$.css --source-map -x</div>
        <div class="">LESS参数设置(mac)： $FileName$ $FileParentDir$/css/$FileNameWithoutExtension$.css --source-map -x</div>
        <div class="">phpstorm-program(win): C:\Users\Administrator\AppData\Roaming\npm\lessc.cmd</div>
        <div class="">phpstorm-program(mac): /Users/xk/.nvm/versions/node/v5.8.0/bin/lessc</div>
    </fieldset>

    <fieldset>
        <legend>mysqldump</legend>
        <div class="">
            <script>
                "use strict";

                let d = new Date();
                let Y = d.getFullYear();
                let m = d.getMonth() + 1;
                let M = m < 10 ? `0${m}` : m;
                let date = d.getDate();
                let D = date < 10 ? `0${date}` : date;
                document.write(`mysqldump -uroot -p blog > /Users/xukun/Documents/pdf/github/blog_${Y}${M}${D}.sql`);
            </script>

        </div>
    </fieldset>

    <fieldset>
        <legend>百度地图生成器</legend>
        <div class="">
            <a href="//api.map.baidu.com/lbsapi/creatmap/index.html" target="_blank">百度地图生成器</a>
        </div>
    </fieldset>

    <fieldset>
        <legend>google的hosts地址</legend>
        <div class=""><a href="//github.com/racaljk/hosts" target="_blank">github说明</a></div>
        <div class=""><a href="//raw.githubusercontent.com/racaljk/hosts/master/hosts" target="_blank">源码</a></div>
    </fieldset>

    <fieldset>
        <legend>Excel 常用快捷键</legend>
        <pre>
    1. 选取区域
    ctrl+a/+a
    ctrl+shift+右
    ctrl+shift+下
    ctrl+g 定位

    2. 列操作
    当前列前插入列
    选取列后ctrl+shift++

    删除当前列
    选取列后ctrl+-

    移动整列
    选取一列后 按住shift，光标变化后进行拖拽

    复制整列
    选取一列后 按住ctrl+shift，光标变化后进行拖拽

    自动识别快速填充（合并、拆分等）
    ctrl+E

    3. 隐藏数据
    设置单元格格式：
    数字->自定义->类型;;;
    保护->隐藏
    审阅->保护工作表->设置密码

    4. 查找和替换
    快捷键：ctrl+F ctrl+H
    通配符： ?单个字符，*任意字符

    5. 删除多余对象
    选中对象 ctrl+G->定位条件->对象
    去除不需删除的元素，Delete删除

    6. 下拉菜单选项
    数据->数据验证->设置->序列->来源

    7. 常用函数
    求和=SUM(D2:E2)
    平均值=AVERAGE(C2:C8)
    计算个数=COUNT(F2:F8)
    日期=TODAY()
    时间=NOW()
    条件=IF(F3>60,"及格","不及格")
    范围查找=VLOOKUP("王",B2:F8,5)
    合并单元格=C2&E2
    显示星期几=TEXT(E9,"AAAA")

    8. 文本后面设置下划线填充满单元格
    单元格格式->自定义-> @*_

    </pre>
    </fieldset>


</body>

</html>