<%-include("./inc/header") %>

<div class="container main">
    <div class="row focus">
        <div class="col s12 m4">
            <a href="https://github.com/trending/javascript?since=weekly" target="_blank">
                <div class="item">
                    <div class="pic">
                        <img src="/dist/images/banner_github.jpg" alt="">
                    </div>
                    <div class="title">GitHub 趋势</div>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="http://es6.ruanyifeng.com/#docs/class" target="_blank">
                <div class="item">
                    <div class="pic">
                        <img src="/dist/images/banner_js.jpg" alt="">
                    </div>
                    <div class="title">ECMAScript6-9 语法</div>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="http://css.doyoe.com/" target="_blank">
                <div class="item">
                    <div class="pic">
                        <img src="/dist/images/banner_css.jpg" alt="">
                    </div>
                    <div class="title">CSS3 查询手册</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <div class="title">English Web Site</div>
            <ul class="links">
                <li><a href="http://stackoverflow.com/" target="_blank" class="special">stackOverflow</a></li>
                <li><a href="https://www.sitepoint.com/javascript/" target="_blank" class="special">sitePoint</a></li>
                <li><a href="https://dzone.com/" target="_blank" class="special">DZone</a></li>
                <li><a href="http://javascriptweekly.com/" target="_blank" class="special">jsWeekly</a></li>
                <li><a href="http://css-weekly.com/" target="_blank" class="special">cssWeekly</a></li>
                <li><a href="http://html5weekly.com/" target="_blank" class="special">html5Weekly</a></li>
                <li><a href="https://www.reddit.com/r/programming/" target="_blank" class="special">Reddit</a></li>
                <li><a href="https://www.codeproject.com/" target="_blank" class="special">CodeProject</a></li>
                <li><a href="https://teamtreehouse.com/community" target="_blank" class="special">Treehouse</a></li>
                <li><a href="https://news.ycombinator.com/newest" target="_blank" class="special">Hacker News</a></li>
            </ul>
        </div>
        <div class="col s12 m3">
            <div class="title">Tools</div>
            <ul class="links">
                <li><a href="/it" target="_blank">QuickLinks</a></li>
                <li><a href="https://caniuse.com/" target="_blank" class="special">caniuse(浏览器兼容性)</a></li>
                <li><a href="https://kangax.github.io/compat-table/es6/" target="_blank">ES6浏览器支持</a></li>
                <li><a href="http://jquery.cuishifeng.cn/index.html" target="_blank" class="special">jQuery</a></li>
                <li><a href="/regexp/" target="_blank" class="special">正则表达式速查表</a></li>
                <li><a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript" target="_blank" class="special">MDN-js</a></li>
                <li><a href="https://github.com/axios/axios" target="_blank" class="special">axios</a></li>    
                <li><a href="https://www.lodashjs.com/" target="_blank">lodash</a></li>
                <li><a href="http://npm.taobao.org/" target="_blank" class="special">cnpm</a></li>
                <li><a href="https://git-scm.com/book/zh/v2" target="_blank">Git教程</a></li>
            </ul>
        </div>
        <div class="col s12 m3">
            <div class="title">Blog</div>
            <ul class="links">
                <li><a href="/article/list" target="_blank">home</a></li>
                <li><a href="/article/list?sort=3" target="_blank">javascript</a></li>
                <li><a href="/article/list?sort=2" target="_blank">css</a></li>
                <li><a href="/article/list?sort=4" target="_blank">node</a></li>
                <li><a href="/article/list?sort=8" target="_blank">linux</a></li>
                <li><a href="/article/list?sort=12" target="_blank">database</a></li>
                <li><a href="/article/list?sort=14" target="_blank">mac</a></li>
                <li><a href="/article/list?sort=10" target="_blank">技术相关</a></li>
                <li><a href="/article/list?sort=15" target="_blank">会计</a></li>
                <li><a href="/article/list?sort=17" target="_blank">人物</a></li>
            </ul>
        </div>
        <div class="col s12 m3">
            <div class="title">Download</div>
            <ul class="links">
                <li><a href="http://npm.taobao.org/mirrors/node" target="_blank" class="special">node各版本下载</a></li>
                <li><a href="https://www.jetbrains.com/" target="_blank">WebStorm下载</a></li>
                <li><a href="https://code.visualstudio.com/" target="_blank">VSCode下载</a></li>
                <li><a href="http://www.r-5.org/books/computers.en/all/" target="_blank">电子书下载(en)</a></li>
                <li><a href="http://www.mysql.com/products/" target="_blank">mysql下载</a></li>
                <li><a href="http://dev.mysql.com/downloads/workbench/" target="_blank">MysqlWorkBench下载</a></li>
            </ul>
        </div>
    </div>
</div>


<%-include("./inc/footer") %>