<%-include("./inc/header") %>

<div class="container main">
    <div class="row focus">
        <div class="col s12 m4">
            <a href="https://github.com/trending/javascript?since=weekly" target="_blank">
                <div class="item">
                    <div class="pic">
                        <img src="/dist/images/banner_github.jpg" alt="">
                    </div>
                    <div class="title">GitHub 趋势</div>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="http://es6.ruanyifeng.com/#docs/class" target="_blank">
                <div class="item">
                    <div class="pic">
                        <img src="/dist/images/banner_js.jpg" alt="">
                    </div>
                    <div class="title">ECMAScript6-9 语法</div>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="http://css.doyoe.com/" target="_blank">
                <div class="item">
                    <div class="pic">
                        <img src="/dist/images/banner_css.jpg" alt="">
                    </div>
                    <div class="title">CSS3 查询手册</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <div class="title">Work</div>
            <ul class="links">
                <li><a href="https://i1.solution9.net/login?domain=huanqiu.com" target="_blank">i1_login (pro)</a></li>
                <li><a href="https://i1.develenv.com/login?domain=huanqiu.com" target="_blank">i1_login (dev)</a></li>
                <li><a href="http://mail.huanqiu.com/" target="_blank">email</a></li>
                <li><a href="https://gitlab.zlibs.com/" target="_blank">gitlab</a></li>
                <li><a href="http://jira.zlibs.com/secure/Dashboard.jspa" target="_blank">jira</a></li>
                <li><a href="http://wiki.zlibs.com/display/CS/Main" target="_blank">wiki</a></li>
            </ul>
        </div>
        <div class="col s12 m3">
            <div class="title">QuickLink</div>
            <ul class="links">
                <li><a href="#">javascript</a></li>
                <li><a href="#">node</a></li>
                <li><a href="#">css</a></li>
                <li><a href="#">account</a></li>
                <li><a href="#">frontend</a></li>
                <li><a href="#">mobile</a></li>
            </ul>
        </div>
        <div class="col s12 m3">
            <div class="title">Blog</div>
            <ul class="links">
                <li><a href="/article/list">home</a></li>
                <li><a href="/article/list">javascript</a></li>
                <li><a href="/article/list">css</a></li>
                <li><a href="/article/list">node</a></li>
                <li><a href="/article/list">linux</a></li>
                <li><a href="/article/list">database</a></li>
            </ul>
        </div>
        <div class="col s12 m3">
            <div class="title">Code</div>
            <ul class="links">
                <li><a href="#">PHPStorm</a></li>
                <li><a href="#">mysqldump</a></li>
            </ul>
        </div>
    </div>
</div>


<%-include("./inc/footer") %>