<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <title><%= title %></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel='stylesheet' href='/dist/css/materialize.min.css'/>
    <link rel='stylesheet' href='/dist/css/index.css'/>
</head>
<body>

<div class="banner">
    <div class="in">
        <div class="slogan">
            <div class="">The harder you work,</div>
            <div class="">the luckier you will be</div>
        </div>
    </div>
</div>

<div class="container main">
    <div class="row">
        <div class="col s12 m3">
            <div class="title">Work</div>
            <ul class="links">
                <li><a href="https://i1.solution9.net/login?domain=huanqiu.com" target="_blank">i1_login (pro)</a></li>
                <li><a href="https://i1.develenv.com/login?domain=huanqiu.com" target="_blank">i1_login (dev)</a></li>
                <li><a href="http://mail.huanqiu.com/" target="_blank">email</a></li>
                <li><a href="https://gitlab.zlibs.com/" target="_blank">gitlab</a></li>
                <li><a href="http://jira.zlibs.com/secure/Dashboard.jspa" target="_blank">jira</a></li>
                <li><a href="http://wiki.zlibs.com/display/CS/Main" target="_blank">wiki</a></li>
            </ul>
        </div>
        <div class="col s12 m3">
            <div class="title">QuickLink</div>
            <ul class="links">
                <li><a href="#">javascript</a></li>
                <li><a href="#">node</a></li>
                <li><a href="#">css</a></li>
                <li><a href="#">account</a></li>
                <li><a href="#">frontend</a></li>
                <li><a href="#">mobile</a></li>
            </ul>
        </div>
        <div class="col s12 m3">
            <div class="title">Blog</div>
            <ul class="links">
                <li><a href="#">home</a></li>
                <li><a href="#">javascript</a></li>
                <li><a href="#">css</a></li>
                <li><a href="#">node</a></li>
                <li><a href="#">linux</a></li>
                <li><a href="#">database</a></li>
            </ul>
        </div>
        <div class="col s12 m3">
            <div class="title">Code</div>
            <ul class="links">
                <li><a href="#">PHPStorm</a></li>
                <li><a href="#">mysqldump</a></li>
            </ul>
        </div>
    </div>
</div>


<script src="/dist/js/jquery.min.js"></script>
<script src="/dist/js/polygonizr.min.js"></script>
<script src="/dist/js/canvasBanner.js"></script>

<!--<script src="/dist/js/materialize.js"></script>-->
</body>
</html>