<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/dist/css/bootstrap-grid.min.css'/>
    <link rel='stylesheet' href='/dist/css/bootstrap-reboot.min.css'/>
    <link rel='stylesheet' href='/dist/css/style.css'/>
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/jquery.twbsPagination.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <script src="/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div id="APP"></div>
<script src="/dist/js/<%= file %>"></script>
</body>
</html>