<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/dist/css/style.css'/>
    <script src="/dist/js/jquery.min.js"></script>
</head>
<body>
<div id="APP"></div>
<script src="/dist/js/<%= file %>"></script>
</body>
</html>