<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/dist/css/bootstrap-theme.min.css'/>
    <link rel='stylesheet' href='/dist/css/style.css'/>
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/jquery.twbsPagination.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/dist/kindeditor/kindeditor-all-min.js"></script>
</head>
<body>
<div id="APP"></div>
<script src="/dist/js/<%= file %>"></script>
</body>
</html>