<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/css/it.css'/>
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/it.js"></script>
</head>
<body>

<div class="header">
    <div class="tcenter">
        <a href="/" target="_blank">博客</a>
        <a href="/code" target="_blank">代码</a>
    </div>
</div>

<article class="sub-nav">
    <ul class="clearfix anchor">
        <li><a href="#">工作</a></li>
        <li><a href="#">好站推荐</a></li>
        <li><a href="#">NodeJS</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">Linux</a></li>
        <li><a href="#">Java</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">PHP</a></li>
        <li><a href="#">Android</a></li>
        <li><a href="#">设计</a></li>
        <li><a href="#">数据可视化</a></li>
        <li><a href="#">移动互联网</a></li>
        <li><a href="#">物联网</a></li>
    </ul>
</article>

<article class="main-area notebook">
    <fieldset>
        <legend>工作</legend>
        <div class="clear">
            <div class="sort">常用</div>
            <div class="">
                <a href="http://mail.huanqiu.com/" target="_blank" class="special">环球邮箱</a>
                <a href="https://gitlab.zlibs.com/" target="_blank">gitlab</a>
                <a href="http://jira.zlibs.com/secure/Dashboard.jspa" target="_blank">jira</a>
                <a href="http://wiki.zlibs.com/display/CS/Main" target="_blank">wiki</a>
                <a href="https://console.q.zlibs.com/" target="_blank">青云</a>
                <a href="https://i1.yeeef.com/login" target="_blank">i1登录(dev)</a>
                <a href="https://i1.solution9.net/login" target="_blank">i1登录(s9)</a>
                <a href="http://zysy.develenv.com/" target="_blank" class="special">中央社院(测试)</a>
                <a href="http://cnvbj.develenv.com/" target="_blank" class="special">vbj(测试)</a>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>好站推荐</legend>
        <div class="mt">
            <div class="sort">装修设计</div>
            <div class="">
                <a href="https://www.kujiale.com/" target="_blank" class="special">酷家乐</a>
            </div>
        </div>
        <div class="mt">
            <div class="sort">前端相关</div>
            <div class="">
                <a href="http://www.csdn.net/" target="_blank" class="special">csdn</a>
                <a href="http://www.oschina.net/" target="_blank" class="special">开源中国</a>
                <a href="https://developer.mozilla.org/zh-CN/" target="_blank" class="special">MDN</a>
                <a href="http://www.css88.com/" target="_blank" class="special">css88</a>
                <a href="http://www.webpagetest.org/" target="_blank" class="special">页面性能测试</a>

                <a href="http://www.jq22.com/" target="_blank">jQuery插件库</a>
                <a href="http://www.htmleaf.com/" target="_blank">jQuery之家</a>
                <a href="http://www.layui.com/" target="_blank">layui前端模块化</a>
                <a href="http://www.h-ui.net/index.shtml" target="_blank">h-ui(适合中国网站)</a>
                <a href="http://www.aseoe.com/" target="_blank">爱思资源网</a>
                <a href="http://www.w3cui.com/" target="_blank">w3cui</a>
                <a href="http://www.w3cplus.com/" target="_blank">w3cplus</a>
                <a href="http://lib.csdn.net/" target="_blank">csdn知识库</a>
                <a href="http://www.zhangxinxu.com/" target="_blank">张鑫旭</a>
                <a href="http://tool.lu/" target="_blank">前端工具类</a>
                <a href="https://ant.design/index-cn" target="_blank">antDesign</a>
                <a href="https://github.com/nolimits4web/Swiper" target="_blank">Swiper(pc+mobile)</a>
                <a href="http://www.jssor.com/" target="_blank">jssor(幻灯特效)</a>
                <a href="http://www.smashingmagazine.com/" target="_blank">smashingmagazine(前端技术)</a>
                <a href="http://tutsplus.com/" target="_blank">tutsplus(前端视频)</a>
                <a href="https://stateofdev.com/c/frontend" target="_blank">技术热门度曲线</a>

            </div>
        </div>
        <div class="hr"></div>
        <div class="mt">
            <div class="sort">English</div>
            <div class="">
                <a href="http://javascriptweekly.com/" class="special">jsWeekly</a>
                <a href="http://css-weekly.com/" class="special">cssWeekly</a>
                <a href="http://html5weekly.com/" class="special">html5Weekly</a>
                <a href="http://responsivedesignweekly.com/">responsiveDesignWeekly</a>
                <a href="https://web-design-weekly.com/">webDesignWeekly</a>
                <a href="https://sidebar.io/">sideBar</a>
            </div>
            <div class="">
                <a href="http://stackoverflow.com/" target="_blank" class="special">stackOverflow</a>
                <a href="https://www.reddit.com/r/programming/" target="_blank" class="special">Reddit</a>
                <a href="https://plus.google.com/communities" target="_blank" class="special">google+Communities</a>
                <a href="https://www.sitepoint.com/javascript/" target="_blank" class="special">sitePoint</a>
                <a href="https://www.codeproject.com/" target="_blank" class="special">CodeProject</a>
                <a href="https://teamtreehouse.com/community" target="_blank" class="special">Treehouse</a>
                <a href="https://news.ycombinator.com/newest" target="_blank" class="special">Hacker News</a>
                <a href="https://dzone.com/" target="_blank" class="special">DZone</a>
                <a href="https://bytes.com/" target="_blank" class="">Bytes</a>
                <a href="http://www.daniweb.com/" target="_blank" class="">DaniWeb</a>
                <a href="http://www.dreamincode.net/forums/" target="_blank" class="">Dream In Code</a>
                <a href="http://pineapple.io/" target="_blank" class="">Pineapple</a>
                <a href="https://lobste.rs/" target="_blank" class="">Lobsters</a>


                <a href="https://techcrunch.com/" target="_blank">techcrunch</a>
                <a href="http://techcrunch.cn/" target="_blank">(中文)</a>
                <a href="http://arstechnica.com/information-technology/" target="_blank">arstechnica</a>
                <a href="https://opensource.com/" target="_blank">opensource</a>
                <a href="https://www.rankred.com/" target="_blank">rankred</a>
                <a href="https://slashdot.org/" target="_blank">SlashDot</a>
                <a href="https://stackexchange.com/sites#technology" target="_blank">StackExchange</a>
                <a href="https://www.sitepoint.com/" target="_blank">SitePoint</a>

                <a href="http://www.hjenglish.com/" target="_blank">沪江英语</a>

            </div>
        </div>
        <div class="hr"></div>
        <div class="mt">
            <div class="sort">会计</div>
            <div>
                <a href="http://www.91up.com/course/3348/chapter#/" target="_blank" class="special">101贝考</a>
                <a href="http://cpaexam.cicpa.org.cn/" target="_blank" class="special">注会报名入口</a>
                <a href="http://cpademo.cicpa.org.cn/" target="_blank" class="special">注会机考练习</a>
                <a href="http://www.mingtian.com/ucenter/myvip" target="_blank" class="special">美好明天</a>
                <a href="http://cpa.kuaiji.com/3170091" target="_blank" class="special">历年真题汇总</a>
                <a href="http://www.wantiku.com/zhukuai/" target="_blank">万题库</a>
                <a href="http://www.chinaacc.com/" target="_blank" class="special">中华会计网校</a>
                <a href="http://www.dongao.com/" target="_blank" class="special">东奥</a>
            </div>
            <div class="">
                <a href="http://www.cicpa.org.cn/" target="_blank">中国注册会计师协会</a>
                <a href="http://www.mof.gov.cn" target="_blank">中国财政部</a>
                <a href="http://www.chinatax.gov.cn/" target="_blank">国家税务总局</a>
                <a href="http://www.ctax.org.cn/" target="_blank">中国税务网</a>
                <a href="http://www.zgkjb.com" target="_blank">中国会计报</a>
                <a href="http://www.esnai.com/" target="_blank">中国会计视野</a>
                <a href="https://www.kuaijiren.com/" target="_blank">会计人</a>
                <a href="http://www.andersen.com.cn/cgi-bin/cgi-bin/loginout.cgi?forum=" target="_blank">雁渡寒潭</a>
                <a href="http://bbs.ecfo.com.cn/" target="_blank">财务经理人</a>
                <a href="http://cicpa.wkinfo.com.cn/" target="_blank">注册会计师行业法律法规网</a>

            </div>
        </div>
        <div class="mt">
            <div class="sort">科技前沿</div>
            <div class="">
                <a href="http://www.jianshu.com/" target="_blank">简书</a>
                <a href="http://www.open-open.com/lib/list/145" target="_blank">深度开源</a>
                <a href="https://stackshare.io/trending/tools" target="_blank">stackshare开发工具</a>
                <a href="http://web.jobbole.com/" target="_blank">伯乐在线</a>
                <a href="http://www.chinaz.com/" target="_blank">站长之家</a>
                <a href="http://www.admin5.com/" target="_blank">A5站长</a>
                <a href="http://tech.huanqiu.com/" target="_blank">环球科技</a>
                <a href="http://www.51cto.com/" target="_blank">51CTO</a>
                <a href="http://www.codeceo.com/article/category/news" target="_blank">码农网</a>
                <a href="http://geek.csdn.net/news/detail/110921" target="_blank">50个技术领域知识图谱</a>
            </div>
        </div>
        <div class="mt">
            <div class="sort">财经热点</div>
            <div class="">
                <a href="http://www.hsmrt.com/hof/" target="_blank" class="special">华商名人堂</a>
                <a href="http://www.yicai.com/" target="_blank" class="special">第一财经</a>
                <a href="http://www.thepaper.cn/channel_25951" target="_blank" class="special">澎湃经济</a>
                <a href="http://www.ftchinese.com/" target="_blank">FT中文网</a>
                <a href="http://www.pedaily.cn/" target="_blank">投资界</a>
            </div>
        </div>
        <div class="mt">
            <div class="sort">招聘</div>
            <div class="">
                <a href="http://www.lagou.com/" target="_blank" class="special">拉勾网</a>
                <a href="http://www.zhaopin.com/beijing/" target="_blank" class="special">智联招聘</a>
                <a href="http://www.51job.com/beijing" target="_blank" class="special">前程无忧</a>
                <a href="https://www.linkedin.com/" target="_blank">领英</a>
                <a href="http://www.chinahr.com/beijing/" target="_blank">中华英才</a>
                <a href="http://talent.baidu.com/external/baidu/index.html#/social/2/java" target="_blank">百度招聘</a>
                <a href="https://job.alibaba.com/zhaopin/positionList.htm" target="_blank">阿里招聘</a>
                <a href="http://hr.tencent.com/position.php?lid=2156&tid=87" target="_blank">腾讯招聘</a>
                <a href="http://job.oschina.net/searchV2?city=%E5%8C%97%E4%BA%AC" target="_blank">开源中国</a>
            </div>
        </div>
        <div class="mt">
            <div class="sort">其它</div>
            <div class="">
                <a href="http://www.chinaz.com/visit/person/" target="_blank" class="special">人物(站长之家)</a>
                <a href="http://rj.baidu.com/" target="_blank">百度软件</a>
                <a href="http://www.juheweb.com/" target="_blank">聚合分享素材网</a>
                <a href="http://tool.oschina.net/" target="_blank">在线工具</a>
                <a href="http://www.xmesm.cn/" target="_blank">在线二维码</a>
                <a href="http://tool.chinaz.com/baidu" target="_blank">百度近日收录查询</a>
                <a href="http://zhanzhang.baidu.com/" target="_blank">百度站长</a>
                <a href="http://www.huoduan.com/" target="_blank">火端</a>
                <a href="http://dazi.kukuw.com/" target="_blank">打字测速</a>
                <a href="https://github.com/getlantern/lantern" target="_blank">蓝灯VPN</a>

            </div>
        </div>


    </fieldset>
    <fieldset>
        <legend>NodeJS</legend>
        <div class="">
            <a href="http://npm.taobao.org/mirrors/node" target="_blank" class="special">node各版本下载</a>
            <a href="http://npm.taobao.org/" target="_blank" class="special">cnpm</a>
            <a href="http://momentjs.cn/" target="_blank">Moment.js日期格式化</a>
            <a href="http://nodejs.cn/docs/" target="_blank">NodeJS</a>
            <a href="https://docs.npmjs.com/" target="_blank">NPM</a>
            <a href="https://github.com/creationix/nvm" target="_blank">nvm</a>
            <a href="https://github.com/tj/n" target="_blank">n</a>
            <a href="https://github.com/Pana/nrm" target="_blank">nrm</a>
            <a href="http://www.expressjs.com.cn/" target="_blank">ExpressJS</a>
            <a href="http://webpack.github.io/docs" target="_blank">webpack官网</a>
            <a href="https://doc.webpack-china.org/concepts/" target="_blank">webpack中文网</a>
            <a href="http://cn.redux.js.org/index.html" target="_blank">redux中文网</a>
            <a href="http://mustache.github.io/mustache.5.html" target="_blank">mustache基本语法</a>
            <a href="http://handlebarsjs.com/" target="_blank">handlebars基本语法</a>
            <a href="http://www.embeddedjs.com/" target="_blank">ejs官网</a>
            <a href="https://segmentfault.com/a/1190000004286562" target="_blank">ejs中文网</a>
            <a href="https://github.com/bower/bower" target="_blank">bower模块统一管理</a>
            <a href="https://github.com/substack/node-browserify" target="_blank">browserify</a>
            <a href="https://www.npmjs.com/" target="_blank">npmjs</a>
            <a href="https://github.com/" target="_blank">github</a>

        </div>
        <div class="hr"></div>
        <div class="">
            <a href="https://facebook.github.io/react/" target="_blank">React官网</a>
            <a href="http://www.runoob.com/react/react-tutorial.html" target="_blank">React入门</a>
            <a href="https://github.com/ReactTraining/react-router" target="_blank">React-router</a>
            <a href="http://www.material-ui.com/#/components/app-bar" target="_blank">React组件库(material-ui)</a>
            <a href="http://ant.design/docs/react/getting-started" target="_blank">React组件库(antDesign)</a>
            <a href="http://reactnative.cn/" target="_blank">ReactNative中文网</a>
            <a href="http://wiki.jikexueyuan.com/project/react-native/" target="_blank">ReactNative(jikexueyuan)</a>
            <a href="http://facebook.github.io/react-native/docs/getting-started.html"
               target="_blank">ReactNative官方文档</a>
        </div>
        <div class="hr"></div>
        <div class="">
            <a href="https://cn.vuejs.org/" target="_blank">vue</a>
            <a href="https://vuematerial.io/getting-started" target="_blank">vue-material</a>
        </div>
        <div class="hr"></div>
        <div class="">
            <a href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000" target="_blank"
               class="special">Git教程(廖雪峰)</a>
            <a href="https://git-scm.com/book/zh/v2" target="_blank">Git教程</a>
            <a href="http://www.bootcdn.cn/" target="_blank">BootCDN资源库</a>
            <a href="http://www.gruntjs.net/" target="_blank">Grunt中文网</a>
            <a href="http://www.gulpjs.com.cn/" target="_blank">Gulp中文网</a>
            <a href="http://babeljs.cn/" target="_blank">Babel中文网</a>
            <a href="http://www.bootcss.com/" target="_blank">Bootstrap中文网</a>
            <a href="http://doc.redisfans.com/" target="_blank">redis</a>

        </div>
    </fieldset>
    <fieldset>
        <legend>JavaScript</legend>
        <div class="">
            <a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript" target="_blank" class="special">MDN-js</a>
            <a href="http://jquery.cuishifeng.cn/index.html" target="_blank" class="special">jQuery</a>
            <a href="http://es6.ruanyifeng.com/#docs/class" target="_blank" class="special">es6(阮一峰)</a>
            <a href="/regexp/" target="_blank" class="special">正则表达式速查表</a>

            <a href="https://github.com/tc39" target="_blank">ECMA-tc39</a>
            <a href="https://kangax.github.io/compat-table/es6/" target="_blank">ES6的浏览器支持情况</a>
            <a href="https://www.jetbrains.com/" target="_blank">PhpStorm下载</a>
            <a href="http://book.apebook.org/minghe/webstorm/index.html" target="_blank">webstorm指南</a>
            <a href="http://npm.taobao.org/dist/phantomjs/" target="_blank">phantomjs下载</a>
            <a href="http://www.css88.com/doc/jsdoc/index.html" target="_blank">jsDoc指南</a>
            <a href="http://www.css88.com/doc/zeptojs_api/" target="_blank">zepto</a>
            <a href="http://www.requirejs.cn/" target="_blank">requirejs</a>
            <a href="http://www.css88.com/doc/backbone/" target="_blank">backbone</a>
            <a href="http://www.css88.com/doc/underscore/" target="_blank">Underscore</a>
            <a href="http://extjs.org.cn/" target="_blank">ExtJS</a>
            <a href="http://www.ecma-international.org/publications/standards/Ecma-262.htm" target="_blank">es6-7</a>
            <a href="http://lzw.me/pages/ecmascript/#0" target="_blank">ECMAScript 5.1</a>
            <a href="http://javascript.ruanyifeng.com/" target="_blank">JavaScript参考教程(阮一峰)</a>
            <a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript" target="_blank">JavaScript教程(mozilla)</a>
            <a href="http://bonsaiden.github.io/JavaScript-Garden/zh/#other.timeouts" target="_blank">JS秘密花园</a>
            <a href="http://www.w3school.com.cn/jsref/index.asp" target="_blank">JS手册(w3school版)</a>
            <a href="http://wiki.commonjs.org/wiki/Modules/1.1#Sample_Code" target="_blank">CommonJS Modules/1.1 规范</a>
            <a href="http://regexr.com/" target="_blank">RegExr正则测试</a>
            <a href="http://esimakin.github.io/twbs-pagination/" target="_blank">jQuery分页</a>
        </div>
        <div class="hr"></div>
        <div class="">
            <a href="https://www.diffchecker.com/" target="_blank">在线文本比较</a>
            <a href="http://cdn.code.baidu.com/" target="_blank">百度静态资源公共库</a>
            <a href="http://jslint.com/" target="_blank">JSLint代码检查</a>
            <a href="http://jshint.com/" target="_blank">JSHint代码检查</a>
            <a href="http://ourjs.com/" target="_blank">ourjs</a>
            <a href="https://clipboardjs.com/" target="_blank">clipboardjs(复制到剪切板)</a>
        </div>
    </fieldset>
    <fieldset>
        <legend>Linux</legend>
        <div class="">
            <a href="http://www.runoob.com/linux/linux-command-manual.html" target="_blank">Linux命令大全</a>
            <a href="http://linuxtools-rst.readthedocs.org/zh_CN/latest/base/index.html" target="_blank">Linux基础</a>
        </div>
    </fieldset>
    <fieldset>
        <legend>Java</legend>
        <div class="">
            <a href="http://www.eclipse.org/downloads/" target="_blank">eclipse下载</a>
            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html" target="_blank">JDK下载</a>
            <a href="http://tomcat.apache.org/" target="_blank">tomcat下载</a>
            <a href="http://www.mysql.com/products/" target="_blank">mysql下载</a>
            <a href="http://dev.mysql.com/downloads/workbench/" target="_blank">workbench下载</a>
            <a href="http://www.eclipsetotale.com/tomcatPlugin.html" target="_blank">tomcat插件</a>
            <a href="https://jstl.java.net/download.html" target="_blank">jstl下载</a>
            <a href="http://www.runoob.com/jsp/jsp-jstl.html" target="_blank">jstl查询</a>
            <a href="http://central.maven.org/maven2/com/alibaba/fastjson/" target="_blank">fastjson下载</a>
            <a href="http://edu.csdn.net/course/detail/395" target="_blank">Java视频教程</a>
            <a href="http://www.runoob.com/java/java-networking.html" target="_blank">Java教程</a>
            <a href="http://www.runoob.com/servlet/servlet-tutorial.html" target="_blank">Servlet</a>
            <a href="http://www.runoob.com/jsp/jsp-tutorial.html" target="_blank">JSP</a>
        </div>
        <div class="hr"></div>
        <div class="">
            <a href="http://www.iteye.com/" target="_blank">ITeye编程</a>
            <a href="https://docs.spring.io/spring/docs/" target="_blank">springMVC各版本api</a>
            <a href="https://docs.spring.io/spring/docs/3.2.0.M1/reference/html/jdbc.html#jdbc-JdbcTemplate"
               target="_blank">JdbcTemplate示例</a>
        </div>
    </fieldset>
    <fieldset>
        <legend>HTML</legend>
        <div class="">
            <a href="https://www.w3.org/TR/html5/?ref=stackshare" target="_blank">HTML5-W3C</a>
            <a href="http://www.w3school.com.cn/html5/index.asp" target="_blank">HTML5教程</a>
            <a href="http://www.w3school.com.cn/tags/html_ref_canvas.asp" target="_blank">Canvas手册</a>
            <a href="http://ecomfe.github.io/zrender/" target="_blank">Canvas类库ZRender</a>
            <a href="http://canvasquery.com/" target="_blank">CanvasQuery</a>
            <a href="http://www.w3.org/TR/html5/" target="_blank">w3.org</a>
            <a href="http://www.appinn.com/markdown/basic.html" target="_blank">markdown</a>
            <a href="http://alexgorbatchev.com/SyntaxHighlighter/download/" target="_blank">代码高亮插件Syntaxhighlighter</a>
            <a href="http://h5.baidu.com/store" target="_blank">H5创意模板</a>
            <a href="http://www.html5plus.org/doc/h5p.html" target="_blank">HTML5+规范</a>

        </div>
        <div class="hr"></div>
        <div class="">
            <div class="sort">富文本编辑器</div>
            <div class="">
                <a href="http://ueditor.baidu.com/website/" target="_blank">UEditor</a>
                <a href="http://kindeditor.net/" target="_blank">kindeditor</a>
                <a href="https://github.com/ckeditor/ckeditor-dev" target="_blank">ckeditor</a>
                <a href="https://github.com/neilj/Squire" target="_blank" class="special">Squire</a>
            </div>
        </div>
        <div class="hr">
            <div class="sort">WebComponent</div>
            <div class="">
                <a href="https://www.webcomponents.org/" target="_blank">webcomponents.org</a>
                <a href="https://github.com/webcomponents/webcomponentsjs" target="_blank">(github)</a>
                <a href="http://javascript.ruanyifeng.com/htmlapi/webcomponents.html" target="_blank">(阮一峰)</a>
            </div>
            <div class="">
                <a href="https://www.w3.org/TR/components-intro/" target="_blank">webcomponents-w3c</a>
                <a href="https://w3c.github.io/webcomponents/spec/custom/" target="_blank">(Custom Elements)</a>
                <a href="https://w3c.github.io/webcomponents/spec/shadow/" target="_blank">(Shadow DOM)</a>
                <a href="https://w3c.github.io/webcomponents/spec/imports/" target="_blank">(HTML Imports)</a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/template" target="_blank">(HTML
                    Template)</a>
            </div>
            <div class="sort">polymer框架</div>
            <div class="">
                <a href="https://www.polymer-project.org/1.0/start/" target="_blank">polymer-project.org</a>
                <a href="http://polymer-zh.cn/1.0/start/index.html" target="_blank">(中文)</a>
                <a href="https://github.com/Polymer/polymer" target="_blank">(github)</a>
                <a href="https://github.com/Polymer/polymer/wiki/Who%27s-using-Polymer%3F" target="_blank">who's using Polymer</a>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>CSS</legend>
        <div class="">
            <a href="http://css.doyoe.com/" target="_blank" class="special">CSS3手册</a>
            <a href="http://cssnext.io/" target="_blank" class="special">cssNext</a>
            <a href="http://www.runoob.com/manual/lessguide/features/#variables-feature" target="_blank">LESS</a>
            <a href="http://www.sass.hk/" target="_blank">SASS</a>
            <a href="https://github.com/postcss/postcss" target="_blank">postcss(autoPrefixer)</a>
            <a href="http://www.runoob.com/try/demo_source/bootstrap-glyph-customization.htm" target="_blank">Glyphicon字体图标</a>
            <a href="https://icomoon.io/" target="_blank">icomoon</a>
            <a href="http://fontello.com/" target="_blank">fontello</a>
            <a href="http://www.youziku.com/onlinefont/index" target="_blank">有字库(中文字体)</a>
            <a href="http://www.psjia.com/pssc/fontxz/list_18_3.html" target="_blank">PS字体库</a>
            <a href="http://jeremyckahn.github.io/stylie/" target="_blank">CSS3动画生成神器STYLIE</a>
            <a href="https://github.com/daneden/animate.css" target="_blank">animate.css</a>
        </div>
        <div class="hr"></div>
        <div class="">
            <a href="http://www.doyoe.com/" target="_blank">杜瑶的世界</a>
            <a href="https://developer.mozilla.org/zh-CN/" target="_blank">Mozilla开发者工具</a>
            <a href="https://jonsuh.com/hamburgers/" target="_blank">菜单按钮切换</a>
            <a href="https://boguz.github.io/Spinners/" target="_blank">loading动画</a>
            <a href="http://www.raphaelfabeni.com.br/css-loader/" target="_blank">loading动画2</a>
            <a href="http://imagehover.io/" target="_blank">图片翻转特效</a>

        </div>
    </fieldset>
    <fieldset>
        <legend>PHP</legend>
        <div class="">
            <a href="http://php.net/manual/zh/index.php" target="_blank">PHP手册</a>
            <a href="http://www.php100.com/" target="_blank">PHP100</a>
        </div>
    </fieldset>
    <fieldset>
        <legend>Android</legend>
        <div class="">
            <a href="http://wear.techbrood.com/" target="_blank">Android安卓开发官方文档国内镜像</a>
            <a href="http://blog.csdn.net/jiangwei0910410003/article/details/47188679" target="_blank">Android市场</a>
        </div>
    </fieldset>
    <fieldset>
        <legend>设计</legend>
        <div class="">
            <div class="sort">web设计赏析</div>
            <div class="">
                <a href="http://www.sj63.com/" target="_blank">设计路上(颜色分类)</a>
                <a href="http://www.68design.net/" target="_blank">网页设计师联盟</a>
                <a href="http://www.newwebpick.com/" target="_blank">全球网页设计收录</a>
                <a href="http://www.cndesign.com/" target="_blank">中国设计网(赛事招聘)</a>
                <a href="http://www.warting.com/" target="_blank">设计帝国</a>
                <a href="http://www.333cn.com/" target="_blank">中国设计之窗</a>
                <a href="http://www.gettyimages.cn/" target="_blank">视觉中国</a>
                <a href="http://shijue.me/" target="_blank">视觉me</a>
                <a href="http://www.3visual3.com/" target="_blank">3视觉</a>
            </div>
        </div>
        <div class="hr"></div>
        <div class="">
            <div class="sort">photoshop</div>
            <div class="">
                <a href="http://www.68ps.com/index.htm" target="_blank">PS联盟</a>
                <a href="http://www.06ps.com/" target="_blank">PS教程网</a>
                <a href="http://www.126ps.com/" target="_blank">PS学院</a>
                <a href="http://www.52psxt.com/" target="_blank">PS学堂</a>
                <a href="http://www.shejipai.cn/" target="_blank">设计派</a>
                <a href="http://www.folieyun.com/portal.php" target="_blank">福利云</a>
                <a href="http://www.shejidaren.com/" target="_blank">设计达人</a>
                <a href="http://www.uisdc.com/" target="_blank">优设</a>
                <a href="http://www.photoshoplady.com/" target="_blank">PhotoshopLady</a>
            </div>
        </div>
        <div class="hr"></div>
        <div class="">
            <div class="sort">设计工具</div>
            <div>
                <a href="https://color.adobe.com/zh/create/color-wheel" target="_blank">adobe(配色)</a>
                <a href="http://colorhunt.co/" target="_blank">colorhunt(配色)</a>
                <a href="http://www.colorhunter.com/" target="_blank">colorhunter(配色)</a>
                <a href="http://www.bootcss.com/p/websafecolors/" target="_blank">websafecolors(web安全色)</a>
                <a href="http://www.sioe.cn/yingyong/yanse-rgb-16/" target="_blank">颜色转码</a>
                <a href="http://www.iconfont.cn/" target="_blank">阿里巴巴矢量图标库</a>
                <a href="http://www.easyicon.net/" target="_blank">easyicon图标库</a>
                <a href="http://www.thinkcmf.com/font/search.html" target="_blank">奥森图标</a>
                <a href="http://www.iconpng.com/" target="_blank">透明PNG图</a>
                <a href="http://www.lanrentuku.com/" target="_blank">懒人图库</a>
                <a href="http://588ku.com/" target="_blank">千库网(素材)</a>
                <a href="https://unsplash.com/" target="_blank">Unsplash(高质量照片)</a>
                <a href="https://tinypng.com/" target="_blank">在线图片压缩</a>
            </div>
        </div>
        <div class="hr"></div>
        <div class="">
            <div class="sort">PPT模板</div>
            <div class="">
                <a href="https://www.presentationload.com/" target="_blank" class="special">presentationload</a>
                <a href="http://office.mmais.com.cn/Template/Home.shtml" target="_blank" class="special">officePlus</a>
                <a href="http://www.pptmind.com/downloads/category/ppt" target="_blank" class="special">pptmind</a>
                <a href="http://www.ypppt.com/" target="_blank">优品</a>
                <a href="http://www.docer.com/" target="_blank">稻壳儿</a>
                <a href="http://www.pptstore.net/" target="_blank">pptstore</a>
                <a href="http://www.51pptmoban.com/ppt/" target="_blank">51ppt</a>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>数据可视化</legend>
        <div class="">
            <a href="http://echarts.baidu.com/doc/example.html" target="_blank">ECharts百度</a>
            <a href="http://d3js.org/" target="_blank">D3js</a>
            <a href="http://gojs.net/latest/samples/index.html" target="_blank">GOjs(数据流程图)</a>
            <a href="http://createjs.com/easeljs" target="_blank">easeljs(类似flash)</a>
            <a href="http://blog.csdn.net/zhang__tianxu/article/category/1623437" target="_blank">D3教程(张天旭)</a>
            <a href="http://blog.csdn.net/lzhlzz?viewmode=contents" target="_blank">D3教程(馒头华华)</a>
            <a href="http://www.ourd3js.com/wordpress/" target="_blank">D3教程(OurD3)</a>
            <a href="http://developer.baidu.com/map/index.php?title=jspopular" target="_blank">百度地图</a>
            <a href="http://threejs.org/" target="_blank">Threejs</a>
            <a href="http://www.uisdc.com/category/informations-guide" target="_blank">信息化视图</a>
            <a href="https://github.com/recharts/recharts" target="_blank">recharts(react+D3)</a>
        </div>
    </fieldset>
    <fieldset>
        <legend>移动互联网</legend>
        <div class="">
            <a href="http://www.phonegap100.com/" target="_blank">Phonegap中文网</a>
            <a href="http://www.swiper.com.cn/" target="_blank">Swiper中文网</a>
            <a href="http://ionicframework.com/" target="_blank">Ionic混合应用框架</a>
        </div>
    </fieldset>
    <fieldset>
        <legend>物联网</legend>
        <div class="">
            <a href="http://iot.ofweek.com/" target="_blank">OFweek物联网</a>
            <a href="http://www.iotworld.com.cn/" target="_blank">物联网世界</a>
        </div>
    </fieldset>
</article>

</body>
</html>