<%-include("./inc/header") %>


<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <form class="mt-30" method="post" action="/verify">
                <div class="name"><input type="text" name="name" placeholder="name" autofocus></div>
                <div class="pw"><input type="password" name="pw" placeholder="password"></div>
                <div class="tright"><button type="submit" class="waves-effect waves-teal btn-flat">Login</button></div>
            </form>
        </div>
    </div>
</div>


<%-include("./inc/footer") %>