@charset "UTF-8";
/*reset*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

html, body { width: 100%; height: 100%; font-family: sans-serif; -webkit-text-size-adjust: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }

img { border: 0; vertical-align: middle; max-width: 100%; }

table { border-collapse: collapse; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

audio, video, canvas, progress { display: inline-block; vertical-align: baseline; }

sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

/*common*/
body { font-family: STHeiti, "Microsoft YaHei", Helvetica, Arial, sans-serif; font-size: 17px; line-height: 1.8em; background-color: #f0f0f0; color: #333; }

a { color: #222; text-decoration: none; -webkit-tap-highlight-color: rgba(9, 174, 255, 0.5); }
a:hover { color: #04bee6; }

.wrap { max-width: 768px; margin: 0 auto; background: #fff; }

.pad { padding: 0.5rem; }

.summary { color: #999; font-size: 0.7rem; }

.mt { margin-top: 10px; }

.mt-5 { margin-top: 5px; }

.mt-10 { margin-top: 10px; }

.mt-15 { margin-top: 15px; }

.mt-20 { margin-top: 20px; }

.mt-25 { margin-top: 25px; }

.mt-30 { margin-top: 30px; }

.fleft { float: left; }

.fright { float: right; }

.tleft { text-align: left; }

.tcenter { text-align: center; }

.tright { text-align: right; }

.clear { clear: both; }

.clearfix { zoom: 1; }
.clearfix:after { content: ""; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }

.hidden { display: none; }

.omit { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.oneline { width: 100%; height: 1.5em; line-height: 1.5em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.twoline { width: 100%; height: 2.7em; line-height: 1.4em; overflow: hidden; }

.hr { border-top: 1px solid rgba(0, 0, 0, 0.1); margin: 0.5em 0; }

.hr2 { border-top: 1px dashed #ddd; margin: 0.5em 0; }

.relative { position: relative; }

img.fw { width: 100%; }

img.photo { border: 1px solid #ddd; }

.btn { display: inline-block; padding: 0.4em 1em; border: 1px solid #ddd; border-radius: 6px; cursor: pointer; }
.btn-group .btn { border-radius: 0; float: left; }
.btn-group .btn:first-child { border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
.btn-group .btn:last-child { border-top-right-radius: 6px; border-bottom-right-radius: 6px; }

.btn-group2 .btn { font-size: 14px; display: inline-block; padding: 0 0.4em; border: 1px solid transparent; border-radius: 0; }
.btn-group2 .btn:hover { border-color: #0f82e4; }
.btn-group2 .btn-cur { border: 1px solid #0f82e4; background: url("../images/icon-tick.png") no-repeat top right; }

.btn-full-width { width: 100%; text-align: center; }

.btn-default { color: #333; background: #fff; }

.btn-info { color: #fff; background: #428bca; border-color: #357ebd; }

.btn-success { color: #fff; background: #5cb85c; border-color: #4cae4c; }

.btn-warning { color: #fff; background: #f90; border-color: #e68a00; }

.btn-danger { color: #fff; background: #e33; border-color: #ec1b1b; }

/*module*/
body { padding-top: 5rem; }

header { position: fixed; z-index: 9999; top: 0; left: 50%; margin-left: -10rem; width: 20rem; height: 5rem; }
header .logo-bar { display: block; position: relative; height: 2.5rem; line-height: 2.5rem; padding: 0 0.5rem; background: #e33; color: #fff; font-size: 1rem; }
header .logo-bar a { color: #fff; }
header .logo-bar .left-region { position: absolute; left: 0.5rem; top: 0; }
header .logo-bar .middle-region { text-align: center; }
header .logo-bar .middle-region img.logo { height: 1.7rem; margin-top: -0.2rem; }
header .logo-bar .right-region { position: absolute; right: 0.5rem; top: 0; }
header .logo-bar .right-region .icon-bars { cursor: pointer; font-size: 1.5rem; padding: 0 0.5rem; }
header .nav-bar { position: relative; height: 2.5rem; line-height: 2.5rem; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); background: #fff; color: #555; font-size: 1rem; }
header .nav-bar nav { width: 90%; white-space: nowrap; overflow: hidden; overflow-x: scroll; -webkit-overflow-scrolling: touch; }
@media (min-width: 800px) { header .nav-bar nav { overflow-x: hidden; } }
header .nav-bar nav a.item { color: #555; display: inline-block; padding: 0 0.5rem; margin: 0 0.5rem; }
header .nav-bar nav a.item.cur { color: #e33; border-bottom: 2px solid #e33; }
header .nav-bar nav::-webkit-scrollbar { display: none; }
header .nav-bar .nav-btn { position: absolute; bottom: 0; right: 0; padding: 0 0.5rem; cursor: pointer; }
header .nav-bar .nav-btn .icon-up-nav { display: none; }
header .show-all-nav { height: auto; }
header .show-all-nav nav { white-space: normal; width: 100%; }
header .show-all-nav .nav-btn .icon-up-nav { display: inline-block; }
header .show-all-nav .nav-btn .icon-down-nav { display: none; }
header .menu { display: none; position: fixed; top: 2.5rem; bottom: 0; left: 50%; margin-left: -10rem; width: 20rem; background: white; }

#ajaxTips { color: #333; position: fixed; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, 0.5); text-align: center; display: none; }

#btnLoadMore { display: block; border: 1px solid #ddd; background-image: linear-gradient(#f0f0f0, #ccc); text-align: center; text-decoration: none; }

ul.list { display: block; }
ul.list li { padding: 0.5rem 0; border-bottom: 1px solid #eee; }
ul.list li .pic { float: left; width: 30%; height: 4rem; border: 1px solid #eee; overflow: hidden; }
ul.list li .pic img { width: 100%; min-height: 4rem; }
ul.list li .txt { float: right; width: 70%; padding-left: 0.5rem; }
ul.list li .txt .title { overflow: hidden; font-size: 1rem; line-height: 1.22em; max-height: 2.4em; }
ul.list li .txt .other { color: #999; font-size: 0.7rem; }
ul.list li .noImage .txt { float: none; width: auto; padding: 0; }

ul.plist li { float: left; width: 50%; padding: 10px; line-height: 1.5em; }
ul.plist li div { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
ul.plist li .pic { height: 6rem; overflow: hidden; }
ul.plist li .pic img { width: 100%; min-height: 6rem; }
ul.plist li .other { font-size: 14px; color: #999; }

/*icon*/
@font-face { font-family: Ratchicons; font-style: normal; font-weight: normal; src: url("../fonts/ratchicons.eot"); src: url("../fonts/ratchicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ratchicons.woff") format("woff"), url("../fonts/ratchicons.ttf") format("truetype"), url("../fonts/ratchicons.svg#svgFontName") format("svg"); }
.icon { display: inline-block; font-family: Ratchicons; text-decoration: none; -webkit-font-smoothing: antialiased; }

.icon-back:before { content: '\e80a'; }

.icon-bars:before { content: '\e80e'; }

.icon-caret:before { content: '\e80f'; }

.icon-check:before { content: '\e810'; }

.icon-close:before { content: '\e811'; }

.icon-code:before { content: '\e812'; }

.icon-compose:before { content: '\e813'; }

.icon-download:before { content: '\e815'; }

.icon-edit:before { content: '\e829'; }

.icon-forward:before { content: '\e82a'; }

.icon-gear:before { content: '\e821'; }

.icon-home:before { content: '\e82b'; }

.icon-info:before { content: '\e82c'; }

.icon-list:before { content: '\e823'; }

.icon-more-vertical:before { content: '\e82e'; }

.icon-more:before { content: '\e82f'; }

.icon-pages:before { content: '\e824'; }

.icon-pause:before { content: '\e830'; }

.icon-person:before { content: '\e832'; }

.icon-play:before { content: '\e816'; }

.icon-plus:before { content: '\e817'; }

.icon-refresh:before { content: '\e825'; }

.icon-search:before { content: '\e819'; }

.icon-share:before { content: '\e81a'; }

.icon-sound:before { content: '\e827'; }

.icon-sound2:before { content: '\e828'; }

.icon-sound3:before { content: '\e80b'; }

.icon-sound4:before { content: '\e80c'; }

.icon-star-filled:before { content: '\e81b'; }

.icon-star:before { content: '\e81c'; }

.icon-stop:before { content: '\e81d'; }

.icon-trash:before { content: '\e81e'; }

.icon-up-nav:before { content: '\e81f'; }

.icon-up:before { content: '\e80d'; }

.icon-right-nav:before { content: '\e818'; }

.icon-right:before { content: '\e826'; }

.icon-down-nav:before { content: '\e814'; }

.icon-down:before { content: '\e820'; }

.icon-left-nav:before { content: '\e82d'; }

.icon-left:before { content: '\e822'; }

/*font*/
.bold { font-weight: bold; }

.italic { font-style: italic; }

.f0 { font-size: 0; }

.f12 { font-size: 12px; font-weight: normal; }

.f12b { font-size: 12px; font-weight: bold; }

.f14 { font-size: 14px; font-weight: normal; }

.f14b { font-size: 14px; font-weight: bold; }

.f16 { font-size: 16px; font-weight: normal; }

.f16b { font-size: 16px; font-weight: bold; }

.f18 { font-size: 18px; font-weight: normal; }

.f18b { font-size: 18px; font-weight: bold; }

.f26 { font-size: 26px; font-weight: normal; }

.f26b { font-size: 26px; font-weight: bold; }

/* color*/
.black, .black a, a.black:link, a.black:visited { color: #000; }

.white, .white a, a.white:link, a.white:visited { color: #fff; }

.gray, .gray a, a.gray:link, a.gray:visited { color: #888; }

.silver, .silver a, a.silver:link, a.silver:visited { color: #ccc; }

.red, .red a, a.red:link, a.red:visited { color: #c00; }

.maroon, .maroon a, a.maroon:link, a.maroon:visited { color: #800; }

.lime, .lime a, a.lime:link, a.lime:visited { color: #0f0; }

.green, .green a, a.green:link, a.green:visited { color: #080; }

.blue, .blue a, a.blue:link, a.blue:visited { color: #00f; }

.navy, .navy a, a.navy:link, a.navy:visited { color: #008; }

.yellow, .yellow a, a.yellow:link, a.yellow:visited { color: #ff0; }

.olive, .olive a, a.olive:link, a.olive:visited { color: #880; }

.teal, .teal a, a.teal:link, a.teal:visited { color: #088; }

.fuchsia, .fuchsia a, a.fuchsia:link, a.fuchsia:visited { color: #f0f; }

.purple, .purple a, a.purple:link, a.purple:visited { color: #808; }

.orange, .orange a, a.orange:link, a.orange:visited { color: #f90; }

.cyan, .cyan a, a.cyan:link, a.cyan:visited { color: #04bee6; }

.magenta, .magenta a, a.magenta:link, a.magenta:visited { color: #f3048b; }

/*form*/
input[type="text"], input[type="password"], textarea, select { border: 1px solid #ddd; padding: 0.5em; margin: 0.25em 0; width: 100%; }

select { width: auto; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 1px solid #2694e8; }

/*seldom*/
fieldset { border: 1px solid #ddd; padding: 0 1em 1em 1em; margin-bottom: 1em; clear: both; }

legend { padding-left: 0.5em; padding-right: 0.5em; font-weight: bold; color: #333; }

table.data { border-collapse: collapse; margin-left: auto; margin-right: auto; }

table.data td, table.data th { border: 1px solid #ddd; padding: 0.3em; text-align: center; }

table.data td[align="left"], table.data th[align="left"] { text-align: left; }

table.data td[align="right"], table.data th[align="right"] { text-align: right; }

table.data th { background-color: #f5f5f5; background-image: linear-gradient(#fcfcfc, #dddddd); }

table.data tr:nth-child(odd) { background: #f8f8f8; }

table.data tr:hover { background: #ffd; }

.page { text-align: center; margin: 1em 0; }

.page a { display: inline-block; height: 1.5em; line-height: 1.5em; padding: 0 0.5em; border: 1px solid #ddd; margin: 0 0.3em; }

.page span { margin: 0 0.3em; }

/*通用*/
body { padding-top: 2.5rem; }

.wrap { max-width: 1280px; }

header { height: 2.5rem; position: absolute; }
header .logo-bar { height: 1.25rem; line-height: 1.25rem; font-size: 0.5rem; background: #04bee6; }
header .nav-bar { height: 1.25rem; line-height: 1.25rem; font-size: 0.5rem; }
header .show-all-nav { height: auto; }

.article h1.title { font-size: 1.3rem; line-height: 1.4em; font-weight: bold; margin: 0.5rem 0; }
.article .note-container { font-size: 17px; line-height: 1.8em; margin: 0.5rem 0; }
.article .note-container img { display: block; margin: 0 auto; max-width: 100%; height: auto; }

.login-box { border: 1px solid #ddd; border-radius: 10px; padding: 20px; box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3); background-color: rgba(255, 255, 255, 0.5); width: 300px; max-width: 100%; height: 250px; margin: auto; }

.login-box h1 { color: #666666; }

body.bg { background: #0646a4 url("/images/bg2.jpg") no-repeat; background-size: cover; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

#ajaxTips { color: #fff; position: fixed; border-radius: 1rem; left: 50%; right: auto; top: 50%; bottom: auto; padding: 30px; margin-left: -50px; margin-top: -20px; background: #ff7d00; text-align: center; display: none; animation: animations 2s linear infinite; }

@keyframes animations { 0% { opacity: 0.5; }
  40% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0.5; } }
table.data img.thumb { background: #f00; width: 100%; min-height: 50px; max-height: 500px; }

/*# sourceMappingURL=admin.css.map */
