@charset "UTF-8";
/*reset*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

html, body { width: 100%; height: 100%; font-family: sans-serif; -webkit-text-size-adjust: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }

img { border: 0; vertical-align: middle; max-width: 100%; }

table { border-collapse: collapse; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

audio, video, canvas, progress { display: inline-block; vertical-align: baseline; }

sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

/*common*/
body { font-family: STHeiti, "Microsoft YaHei", Helvetica, Arial, sans-serif; font-size: 17px; line-height: 1.8em; background-color: #f0f0f0; color: #333; }

a { color: #222; text-decoration: none; -webkit-tap-highlight-color: rgba(9, 174, 255, 0.5); }
a:hover { color: #04bee6; }

.wrap { max-width: 768px; margin: 0 auto; background: #fff; }

.pad { padding: 0.5rem; }

.summary { color: #999; font-size: 0.7rem; }

.mt { margin-top: 10px; }

.mt-5 { margin-top: 5px; }

.mt-10 { margin-top: 10px; }

.mt-15 { margin-top: 15px; }

.mt-20 { margin-top: 20px; }

.mt-25 { margin-top: 25px; }

.mt-30 { margin-top: 30px; }

.fleft { float: left; }

.fright { float: right; }

.tleft { text-align: left; }

.tcenter { text-align: center; }

.tright { text-align: right; }

.clear { clear: both; }

.clearfix { zoom: 1; }
.clearfix:after { content: ""; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }

.hidden { display: none; }

.omit { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.oneline { width: 100%; height: 1.5em; line-height: 1.5em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.twoline { width: 100%; height: 2.7em; line-height: 1.4em; overflow: hidden; }

.hr { border-top: 1px solid rgba(0, 0, 0, 0.1); margin: 0.5em 0; }

.hr2 { border-top: 1px dashed #ddd; margin: 0.5em 0; }

.relative { position: relative; }

img.fw { width: 100%; }

img.photo { border: 1px solid #ddd; }

.btn { display: inline-block; padding: 0.4em 1em; border: 1px solid #ddd; border-radius: 6px; cursor: pointer; }
.btn-group .btn { border-radius: 0; float: left; }
.btn-group .btn:first-child { border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
.btn-group .btn:last-child { border-top-right-radius: 6px; border-bottom-right-radius: 6px; }

.btn-group2 .btn { font-size: 14px; display: inline-block; padding: 0 0.4em; border: 1px solid transparent; border-radius: 0; }
.btn-group2 .btn:hover { border-color: #0f82e4; }
.btn-group2 .btn-cur { border: 1px solid #0f82e4; background: url("../images/icon-tick.png") no-repeat top right; }

.btn-full-width { width: 100%; text-align: center; }

.btn-default { color: #333; background: #fff; }

.btn-info { color: #fff; background: #428bca; border-color: #357ebd; }

.btn-success { color: #fff; background: #5cb85c; border-color: #4cae4c; }

.btn-warning { color: #fff; background: #f90; border-color: #e68a00; }

.btn-danger { color: #fff; background: #e33; border-color: #ec1b1b; }

/*通用*/
body { background: #fff; color: #222; width: auto; background-size: cover; }

a { color: #444; text-decoration: none; -webkit-tap-highlight-color: rgba(9, 174, 255, 0.5); }
a:hover { color: #b11e25; text-decoration: underline; }

fieldset { border: 1px solid rgba(0, 0, 0, 0.2); padding: 0 20px 20px 20px; margin-bottom: 20px; clear: both; }
fieldset legend { font-size: 18px; padding-left: 8px; padding-right: 10px; font-weight: bold; color: #002F2F; margin-bottom: 10px; }
fieldset:nth-child(2n) { background: #f9f9f9; }

.header { position: fixed; top: 0; left: 0; width: 200px; height: 60px; line-height: 2em; padding: 10px; color: #fff; background-color: #349cf0; background-image: linear-gradient(to bottom, #63b3f4, #1c90ee); box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
.header a { color: #fff; margin: 0 5px; }
.header a.cur { color: #444; padding: 3px 5px; background: #fc0; border-radius: 5px; }

.sub-nav { position: fixed; top: 60px; bottom: 0; left: 0; width: 200px; padding: 10px; background-color: #349cf0; background-image: linear-gradient(to bottom, #4ca8f2, #0f76c9); box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15); }
.sub-nav a { color: #fff; }

.main-area { margin: 0; margin-left: 200px; padding: 10px; background: #fff; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15); }

.notebook fieldset a { margin: 3px 10px; }
.notebook fieldset a.special { color: #349cf0; }
.notebook fieldset .sort { color: #002F2F; }

ul.anchor li a { text-decoration: none; display: block; padding: 0 10px; }
ul.anchor li a:hover { background: rgba(255, 255, 255, 0.1); }

@media (max-width: 768px) { .header { position: static; width: auto; margin: 10px; }
  .sub-nav { position: static; width: auto; margin: 10px; }
  .main-area { position: static; width: auto; margin: 10px; }
  ul.anchor li { float: left; margin: 3px 10px; } }

/*# sourceMappingURL=it.css.map */
