/*seldom*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1em 1em 1em;
    margin-bottom: 1em;
    clear: both;
}

legend {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
    color: #333;
}

table.data {
    margin-top: 5px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    tr.on {
        background: #f2f2f2;
    }
    td, th {
        padding: 15px 7px;
        border-bottom: 1px solid #eee;
    }
    th {
        background: #fff;
        color: $table-th-color !important;
        border-bottom: 1px solid #f3f3f3;
        text-align: left;
        font-weight: bold;
    }
    td[align="left"], th[align="left"] {
        text-align: left;
    }
    td[align="right"], th[align="right"] {
        text-align: right;
    }

}

.page {
    display: flex;
    margin: 2em 0;
    justify-content: center;
}

