@import "_const";
@import "_reset";
@import "_common";
@import "_module";
@import "_font";
@import "_color";
@import "_seldom";

/*通用组件样式*/

.nav > li > a {
    padding: 15px 5px !important;
}

.row {
    background: #fff;
}

.mt {
    margin-top: 10px;
}

#note {
    margin-top: 1.5em;
    border-top: 1px solid #ddd;
    padding: 1.5em 0;
}

.breadcrumb {
    background: rgba(255, 255, 255, 0);
}

.add-new {
    cursor: pointer;
}