@import "_const";
@import "_reset";
@import "_common";
@import "_module";
@import "_font";
//@import "_color";
@import "_seldom";
@import "_index";
@import "_login";

/*通用组件样式*/

nav ul a{
    padding:0 5px;
}

.row {
    background: #fff;
}

.mt {
    margin-top: 10px;
}

.note-area {
    margin-top: 1.5em;
    border-top: 1px solid #ddd;
    padding: 1.5em 0;

    ul {
        padding-left: 2em;
        li {
            list-style: disc;
        }
    }
}

.breadcrumb {
    background: rgba(255, 255, 255, 0);
}

.add-new {
    position: fixed;
    left: 50px;
    top: 70px;
    cursor: pointer;
    font-size: 20px;
}

pre {
    padding: 20px;
}

.navbar {
    border-radius: 0 !important;
}

